@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (max-width: 630px) { /* TABLET */
    h1{
        font-size: 0.8em;
        font-weight: lighter;
        padding: 10px;
        background-color: black;
        
    }
    .foto-pele{
        width: 70%;
        height: 70%;
    }
   
}
